body{
    background-color: white;
}

table {
    text-align: center;
    width: 30%;
}

tr {
    height: 50px;
}

table, th, td {
    border: 2px solid black;
    border-radius: 10px;
    border-spacing: 10px;
    background-color: slategray;
    font-size: 50px;
  }

  h1 {
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    text-align: center;
  }

  button {
      background-color: slategray;
      border: 5px;
      padding: 30px;
  }